<div class="lavagna">

  <img src="assets/img/lavagna.png" alt="">
  <div class="slides">
    <img [src]="slideLavagna[currentSlideIndex].slide" alt="">
    <div class="blocco"></div>
  </div>
</div>




<div class="benvenuti">
  <div class="fungo"></div>
  <div class="pane"></div>
  <div class="bannerTitolo">
    <img src="https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/h1.png" alt="">
    <h3>Nome Locale</h3>
  </div>

  <h3 id="Presenta">LOREM IPSUM DOLOR SIT AMET</h3>
  <p id="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.</p>

  <div class="ciao">
    <button>Chi siamo</button>
    <div class="sot"></div>
  </div>

  <div class="prima"></div>
  <div class="divisore"></div>
  <div class="dopo"></div>


</div>