

*{
  overflow-y: hidden;
}

.containerMaster{
  width: 85%;
  height: 90vh;
  /* background-color: aquamarine; */
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}



.upSec{
  width: 100%;
  height: 20%;
  /* background-color: red; */

  display: flex;
  justify-content: center;
  align-items: center;
}


.upSec h1{
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  text-align: center;
}

.downSec{
  width: 100%;
  height: 80%;
  /* background-color: rgb(180, 0, 0); */
  display: flex;
  justify-content: space-between;
}

.sx{
  width: 40%;
  height: 100%;
  /* background-color: antiquewhite; */
}


.sx h2{
  font-family: 'Lobster';
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 3px;
  color: #e6e6e6;

}


.sx p{
  margin-top: 20px;
  font-size: 1.2rem;
  color: #d8d8d8;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}


.dx{
  width: 55%;
  height: 100%;
  /* background-color: antiquewhite; */
  padding: 20px;
  position: relative;

}

.dx img{
  width: 100%;
  height: 100%;
}


.mappaContent{
  width: 82%;
  height: 73%;
  position: absolute;
  top: 9%;
  left: 8.8%;
}



.farina3{
    background-image: url(https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/flour.png);
    position: absolute;
    top: 12%;
    left: 32%;
    width: 23%;
    height: 41%;
    background-repeat: no-repeat;
    background-size: cover;
}
