.card{
  text-align: center;
  border: 2px solid red;
}




h2{
  padding: 10px 0px 15px 0px;
  font-size: 2rem;
}

p{
  padding: 0px 0px 8px 0px;
  font-size: 1.1rem;
}

h5{
  font-size: 1.2rem;
}



