<div class="infoPizze">
  <h1>Le nostre pizze</h1>

  <div class="contentPizza">
    <img src="/assets/img/pizzaInfo.png" alt="">
    <div class="dx">
      <h2>QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA</h2>
      <h3>QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA</h3>
      <p>QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA QUALCOSA</p>

      <div class="ciao">
        <button>Chi siamo</button>
        <div class="sot"></div>
      </div>
    </div>

  </div>


  <div class="prima"></div>
  <div class="divisore"></div>
  <div class="dopo"></div>


</div>