.infoPizze{
  width: 85%;
  /* background-color: rgba(0, 174, 255, 0.295); */
  margin: auto;
  position: relative;

}

h1{
  font-family: 'Lobster';
  font-weight: 400;
  font-size: 64px;
  color: #fff;
  text-align: center;
}

.contentPizza{
  display: flex;

}


img{
  min-width: 650px;
}

.dx{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  position: relative;
}

.dx h2{
  padding-top: 100px;
  padding-bottom: 20px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 1.8rem;
  color: #dfdfdf;
}

.dx h3{
  padding-bottom: 15px;

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 1.3rem;
  color: #d4d4d4;
}

.dx p{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 0.9rem;
  color: #cacaca;
}




button {
  margin-top: 40px;
  padding: 20px 80px;
  color: white;
  z-index: 300;
  position: absolute;
  right: 41%;
  bottom: 30%;
  background-color: rgb(29 29 29);
  border: 2px solid white;
}


button:active {
  background-color: rgb(37, 37, 37);
  box-shadow: 0 0 6px 2px #ffffffbb inset;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}





.sot {
  position: absolute;
  width: 36%;
  height: 10%;
  bottom: 28.5%;
  left: 24.5%;
  z-index: 200;
  border: 2px solid white;
}




.divisore{
  background-image: url(https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/divider1_px.png);
  width: 83%;
  height: 2px;
  margin: 80px auto;
  position: relative;
}


.prima{
  background-image: url(https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/divider1_left.png);
  width: 10%;
  height: 10%;
  position: absolute;
  left: 5%;
  bottom: 1.3%;
  background-repeat: no-repeat;
}



.dopo{
  background-image: url(https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/divider1_right.png);
  width: 10%;
  height: 10%;
  position: absolute;
  right: 0%;
  bottom: 1.2%;
  background-repeat: no-repeat;
}




