<div class="container">
  <div class="content">

    <div class="navBar">
      <a class="logo" routerLink="/">
        <h1>LA FORGIA</h1>
      </a>
      <ol>
        <li> <a routerLink="menu">Menù</a></li>
        <li> <a routerLink="contattaci">Contattaci</a></li>
        <li> <a routerLink="posizione">Dove siamo</a></li>
        <li><a routerLink="galleria">Galleria</a></li>
      </ol>
    </div>

    <app-section1></app-section1>
    <app-section2></app-section2>


    <!-- CAROSELLO -->
    <div class="carousel">
      <button (click)="scrollCarousel('left')" class="carousel-btns">Sinistra</button>
      <div class="carousel-content">
        <div class="carousel-item" *ngFor="let p of datiPizze">
          <app-section3 [p]="p"></app-section3>
        </div>
      </div>
      <button (click)="scrollCarousel('right')" class="carousel-btnd">Destra</button>
    </div>


    <app-section4></app-section4>



    <div class="Map">


      <div class="sx">
        <h3>PROVA</h3>
        <h3>PROVA</h3>
        <h3>PROVA</h3>
        <h3>PROVA</h3>
        <h3>PROVA</h3>
        <h3>PROVA</h3>

      </div>


      <div class="dx">
        <img src="assets/img/map.png" alt="">
        <mgl-map [style]="'https://api.maptiler.com/maps/streets/style.json?key=hhnZiUK0XU67qrDAkov7'" [zoom]="[17]"
          [center]="[15.219103, 37.2294372]" class="mappaContent">
        </mgl-map>
      </div>


    </div>

  </div>
</div>