<div class="container">
  <div class="content">

    <div class="navBar">
      <a class="logo" routerLink="/">
        <h1>LA FORGIA</h1>
      </a>
      <ol>
        <li> <a routerLink="menu">Menù</a></li>
        <li> <a routerLink="contattaci">Contattaci</a></li>
        <li> <a routerLink="posizione">Dove siamo</a></li>
        <li><a routerLink="galleria">Galleria</a></li>
      </ol>
    </div>

    <app-section1></app-section1>
    <app-section2></app-section2>
    <!-- carosello -->
    <div class="flex">
      <app-section3 *ngFor="let p of datiPizze" [p]="p"></app-section3>
    </div>


  </div>
</div>