
a{
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: rgb(235, 235, 235);
}


.navBar h1{
  padding-bottom: 30px;
  color: rgb(255, 255, 255);
  margin-top: 50px;
}


.navBar a{
  text-decoration: none;
}

.navBar{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.navBar ol{
  display: flex;
  gap: 80px;
}




/* CAROSELLOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOoo */


.carousel {
  position: relative;
  width: 100%;
  /* height: 500px; */
  /* background-color: red; */
}




.carousel-btns {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  min-width: 100px;
  height: 80px;

  background-image: url('https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/prev2.png');
  background-color: rgba(240, 248, 255, 0);
  background-repeat: no-repeat;
  background-position: center;
  border: none
}

.carousel-btnd {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translateY(-50%);
  min-width: 100px;
  height: 80px;

  background-image: url('https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/next2.png');
  background-color: rgba(240, 248, 255, 0);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}


/* CAROSELLO CONTENITORE DELLE PIZZE */
.carousel-content {
  display: flex;
  transition: transform 0.3s ease-in-out;
  scroll-behavior: smooth;
    width: 85%;
    /* background-color: aquamarine; */
    margin: auto;
    overflow-x: hidden;

}

.carousel-item {
  flex: 0 0 400px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}



/* FINEEEEEEEEEEE---------------CAROSELLOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOoo */




/* DETTAGLI */

.pepe1{
  width: 15%;
  height: 35%;
  position: absolute;
  top: 35%;
  left: 0px;
  background-image: url(https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/pepper.png);
}


.pepe2{
  width: 15%;
  height: 50%;
  position: absolute;
  top: 65%;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://demo.gridgum.com/bootstrap/pizza-store/PIZZA/images/pasta.png);
}




